@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(230, 230, 230, 0.601);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding-top: 65px;
    padding-left: 270px;
    height: 200vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    z-index: 1000;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(203, 203, 203);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 60px;
}

.logo-container{
    display: flex;
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        cursor: pointer;
        img{
            width: 35px;
            height: 35px;
        }
    }
    .logo-text{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1em;
        h3{
            font-family: 'Poppins';
            font-weight: 600;
        }
    }
    .toggle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        margin-left: 3em;
        .toggle-bar{
            cursor: pointer;
            background-color: white;
            border: none;
        }
        img{
            width: 30px;
        }
    }
}

.user-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1em;
    padding-right: 2em;
    .user-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #5B21B6;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        cursor: pointer;
        h4{
            font-family: 'Poppins';
            font-weight: 500;
        }
    }
    .toggle-notif{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        .toggle-bar{
            cursor: pointer;
            background-color: white;
            border: none;
        }
        img{
            width: 30px;
        }
    }
    .user-name{
        p{
            font-size: 14px;
        }
    }
}

.side-bar{
    position: fixed;
    top: 65px;
    left: 0;
    bottom: 0;
    z-index: 1000;
    width: 260px;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgb(203, 203, 203);
    background-color: #ffffff;
    cursor: pointer;
    .sidebar-list{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        .sidebar-links{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 13px;
            border-radius: 12px;
            height: 50px;
            img{
                margin-left: 1.2em;
                width: 30px;
            }
            h4{
                color: #4d4d4d;
                font-size: 14px;
                transition: color 0.2s ease;
            }
            .list{
                margin-left: 1.35em;
                width: 25px;
            }
            .plus{
                margin-left: 1.35em;
                width: 25px;
            }
        }
    }

    .sidebar-log-out{
        margin-bottom: 1em;
        cursor: pointer;
        .sidebar-links{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            column-gap: 13px;
            border-radius: 12px;
            height: 50px;
            img{
                margin-left: 1.3em;
                width: 25px;
            }
            h4{
                color: rgb(77, 77, 77);
                font-size: 14px;
                transition: color 0.2s ease;
            }
        }
    }
}

.hover-icon{
    display: none;
}

.sidebar-links:hover{
    background-color: #864de119;
    border: 1px solid rgba(255,255,255,0.1);
}

section{
    border-left: 1px solid red;
}