@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility flex-center{
    @apply flex justify-center items-center;
}

@layer base{
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        /* 2. Nagbibigay ng espasyo sa kanan para hindi mag-overlap ang text at icon */
        padding-right: 2.5rem; /* katumbas ng pr-10 */

        /* 3. Ipinapasok ang SVG arrow bilang background image */
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='black'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'/></svg>");
        background-repeat: no-repeat;
        
        /* 4. Kinokontrol ang laki ng icon (16px x 16px) */
        background-size: 1rem 1rem; 

        /* 5. MAGIC LINE: Dito mo iuusod ang icon! */
        /* Pwede mong palitan ang 12px (lakihan para iusod pakaliwa, liitan para iusod pakanan) */
        background-position: right 12px center;
    }
}

@theme{
    --font-poppins: 'Poppins';
}